.content {
  background-color: #E1f0C4;
  border: 2px solid #79BEEE;
  border-radius: 5px;
}

h1, h2 {
  color: #413C58;
  display: flex;
  font-family: 'Raleway', sans-serif;
  justify-content: center;
  text-transform: uppercase;
}

p, ul, .comment-label {
  color: white;
  font-family: Garamond;
  font-size: 14px;
}

.buttons-row {
  margin: 20px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.button {
  background-color: #E1f0C4;
  border: 2px solid #413C58;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  transition-duration: 0.4s;
}

a {
  color: #413C58;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.button:hover {
  background-color: #413C58;
  color: white;
}

.button:hover a {
  color: white;
}

.img-block {
  background-color: #413C58;
  height: 25%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .5s ease;
  width: 100%;
}

.img-caption {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-family: Garamond;
  font-size: 12px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}