.content {
  background-color: #E1f0C4;
  border: 2px solid #79BEEE;
  border-radius: 5px;
}

.intro-box {
  background-color: #79BEEE;
}

.currently-box {
  background-color: #B47Eb3;
}

.intro-box, .currently-box {
  border-radius: 10px;
  left: 35%;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  width: 30%;
}

.proj-container {
  display: flex;
  justify-content: center;
}

.pf-image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-height: 200px;
  max-width: 200px;
  text-align: center;
  width: 50%;
}

h1, h2 {
  color: #413C58;
  display: flex;
  font-family: 'Raleway', sans-serif;
  justify-content: center;
  text-transform: uppercase;
}

p, ul {
  color: white;
  font-family: Garamond;
  font-size: 14px;
}

.icon-row {
  overflow: auto;
  text-align: center;
  width: 100%;
}

.buttons-row {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.button {
  background-color: #E1f0C4;
  border: 2px solid #413C58;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  transition-duration: 0.4s;
}

.button a:link, .button a:visited {
  color: black;
  text-decoration: none;
}

.button:hover {
  background-color: #413C58;
  color: white;
}

.button:hover a:link, .button:hover a:visited {
  color: white;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-container, .image-container img {
  max-height: 200px;
  max-width: 200px;
}

.single-container {
  margin: 10px;
  position: relative;
}

.slide-container:hover .img-block, .single-container:hover .img-block {
  opacity: .70;
}

.img-block {
  background-color: #413C58;
  bottom: 0;
  height: 25%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .5s ease;
  width: 100%;
}

.img-caption {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-family: Garamond;
  font-size: 12px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.proj-buttons {
  left: 15%;
  margin-top: 20px;
  position: relative;
  padding: 10px;
}

.slide {
  display: none;
}

.default-slide {
  display: block;
}

.default-slide-block {
  background-color: #FFE2FE;
  color:#413C58;
  font-family: Garamond;
  font-size: 20px;
  height: 300px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  width: 300px;
}

.slide, .slide-container, .slide img {
  max-height: 400px;
  max-width: 400px;
  position: relative;
}